html { 
    background: url(/img/bg_lemn.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: comic-sans;
}

.content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    margin-top: 36px;
    position: relative;
    border-radius: 50%;
    background-color: #cc0000;
    width: 598px;
    height: 598px;
    display: inline-block;
}

.text-in-circle {
    font-family: CenturyGothic;
    color: #ffffff;
    font-size: 43.692px;
    line-height: 39px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.form-container {
    width: 403px;
    border: 1px solid black;
    display: inline-block;
    
}


