html { 
    background: url(/img/bg_lemn.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: comic-sans;
}

.content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    margin-top: 36px;
    position: relative;
    border-radius: 50%;
    background-color: #cc0000;
    width: 598px;
    height: 598px;
    float:left;
}

.text-in-circle {
    font-family: CenturyGothic;
    color: #ffffff;
    font-size: 43.692px;
    line-height: 39px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.form-container {
    width: 403px;
    float: left;
    margin-left: 140px;
    
}

.text-top {
    font-family: CenturyGothic;
    color: #000000;
    font-size: 27px;
    line-height: 39px;
    text-align: left;
}

.form-control {
    font-family: CenturyGothic;
    color: #000000;
    font-size: 27px;
    line-height: 39px;
    text-align: left;
    margin-bottom: 20px;
}

.btn-trimite {
    background-color:  #cc0000;
    width: 256px;
    height: 72px;
    font-family: CenturyGothic;
    color: #ffffff;
    font-size: 48.9px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}
